# Format: //devtools/kokoro/config/proto/build.proto

# Run unit tests to generate coverage data, then run the coverage aggregation and threshold check
env_vars: {
    key: "NOX_SESSION"
    value: "unit-3.13 cover"
}

# Run unit tests in parallel, splitting up by file, and track coverage metrics
env_vars: {
    key: "PYTEST_ADDOPTS"
    value: "-n=auto --dist=loadscope --cov=google --cov-append --cov-config=.coveragerc --cov-report= --cov-fail-under=0 --tb=no"
}
