# -*- coding: utf-8 -*-
# This constraints file is required for unit tests.
# List all library dependencies and extras in this file.
google-api-core==2.21.0 # Tests google-api-core with rest async support
google-auth==2.35.0 # Tests google-auth with rest async support
proto-plus==1.22.3
protobuf
mock==4.0.2
google-cloud-storage==2.2.1 # Increased for kfp 2.0 compatibility
packaging==20.0 # Increased for compatibility with MLFlow
grpcio-testing==1.34.0
pytest-xdist==3.3.1 # Pinned to unbreak unit tests
ray==2.4.0 # Pinned until 2.9.3 is verified for Ray tests
