# -*- coding: utf-8 -*-
# This constraints file is required for unit tests.
# List all library dependencies and extras in this file.
google-api-core
proto-plus==1.22.0
protobuf
mock==4.0.2
google-cloud-storage==2.2.1 # Increased for kfp 2.0 compatibility
packaging==20.0 # Increased for compatibility with MLFlow
grpcio-testing==1.34.0
mlflow==1.30.1 # Pinned to speed up installation
pytest-xdist==3.3.1 # Pinned to unbreak unit tests
ray==2.4.0 # Pinned until 2.9.3 is verified for Ray tests
ipython==8.22.2 # Pinned to unbreak TypeAliasType import error
scikit-learn!=1.4.1.post1 # Pin to unbreak test_sklearn (b/332610038)
requests==2.31.0 # Pinned to unbreak http+docker error (b/342669351)